*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-img{
    width: 75px;
    
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo h2{
    font-size: 3rem;
    color: rgb(19, 83, 78);

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: cornsilk;
    box-shadow: o 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul{
    display: inline-flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #5aaabe;
    padding: 10px;
    transition: all 0.5s ease;
}
nav ul li a:hover{
    color: #3907ac;
    font-weight: bold;
    border-bottom: 3px solid #176a79;
}
main{
    min-height: 100vh;
}
.hero-img{
    background-image: url(https://media.istockphoto.com/id/1368994091/photo/couple-shopping-using-phone-application-holding-shopper-bags-in-mall.jpg?s=1024x1024&w=is&k=20&c=mhGuXbQWIG87vNbIO3Qp5xWZ4qNg6ZfQzBjwg_Itgs8=);
    height: 300px;
    width: 50%;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    transform: rotate(-10deg);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    
}
.hero{
    width: 300px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    
}
.hero h1{
    font: 2rem;
    color: #065c0a;
    margin-bottom: 10px;
}
.hero h3{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgb(20, 43, 14);
}
.btn{
    border: solid 3px #1d3d1f;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #107a07;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: #107a07;
    color: antiquewhite;
}
.pro-card{
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 250px;
    overflow: hidden;
}
.nem{
    background-color: #107a07;
    color: whitesmoke;
    display: grid;
    place-content: center;
    width: 100%;
    height: 50%;

}
.nem p{
    font-size: 6rem;

}
.product-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 4rem;
}
.dets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 50%;
    padding: 10px;
}